html, body{

}

h1{
	color: ;
}


h2{

}


p {
	margin: auto;
	color: #333;
	font-size: 15px;
	line-height: 1.5rem;
}

em {
	font-style: italic;
}

	

img{
	width: 40%;
}

blockquote {
	padding: 3.5rem 5%;	
}

dl{
	overflow: hidden;
}

dt{
	float:left;
	clear: left;
	width: 8em;
}

dd{
	float:left;
	margin: 0;
	padding: 0;
}