html, body{

}

h1{
	color: ;
}


h2{
	font-weight: 100;
	color: rgb(113,127,109);
	text-align: center;
}


p {
	margin: auto;
	color: #333;
	font-size: 15px;
	line-height: 1.5rem;
}

em {
	font-style: italic;
}

	

img{
	width: 40%;
}

blockquote {
	padding: 3.5rem 5%;	
}

dt{
	float:left;
}

dd{
	float:left;
}